.hero {
    background-color: #1d2532;
    color: #ffffff;
}

.hero__inner {
    margin: 0 auto;
    padding-top: 303px;
    padding-bottom: 270px;
    max-width: 1920px;

    background-image:
            url("/img/spot-purple.png"),
            url("/img/man.png");
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    background-size: 641px 437px, 927px 820px;

    @include tablet() {
        padding-top: 105px;
        padding-bottom: 50px;

        background-size: 641px 437px, 410px auto;
        background-position: top left, left 45% top 200px;
    }

    @include mobile {
        background-position: top left, left 70% top 200px;
    }
}

.hero__title {
    max-width: 750px;

    margin-top: 0;
    margin-bottom: 0;

    font-size: 72px;
    line-height: 75.6px;
    letter-spacing: -3%;
    font-weight: 400;

    @include tablet() {
        margin-left: auto;
        margin-right: auto;
        max-width: 260px;

        text-align: center;
        font-size: 25px;
        line-height: 26.25px;
    }
}

.hero__bold {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 72px;
    line-height: 75.6px;
    font-weight: 700;
    color: #ffffff;

    @include tablet() {
        text-align: center;
        font-size: 25px;
        line-height: 26.25px;
    }
}

.hero__desc {
    max-width: 500px;

    margin-top: 20px;
    margin-bottom: 0;

    font-size: 23px;
    line-height: 27.6px;
    font-weight: 400;
    color: #cecece;

    @include tablet() {
        max-width: 240px;

        margin-top: 350px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        font-size: 18px;
        line-height: 21.6px;
    }
}

.hero__btn-action {
    margin-top: 67px;

    @include tablet() {
        align-self: center;
    }
}

.hero__content {
    display: flex;
    flex-direction: column;
}
