.logo {
    display: flex;
    flex-shrink: 0;
    width: 128px;
    height: 55px;
    transition: 300ms ease-in;
    transition-property: opacity;

    &:hover {
        opacity: 0.6;
    }

    @include tablet() {
        width: 89px;
        height: 36px;
    }
}