.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 105px;
    row-gap: 20px;

    @include tablet() {
        flex-direction: column;
        gap: 20px;
    }
}

.nav__link {
    color: #cecece;
    transition: 300ms ease-in;
    transition-property: opacity;
    font-size: 23px;
    line-height: 27.6px;
    font-weight: 400;

    &:hover {
        opacity: 0.6;
    }
}