<header class="header">
  <div class="container">
      <div class="header__content">
          <div class="header__logo">
              @include('logo.html')
          </div>
          <div class="header__menu" data-burger-menu>
              <!--is-active -->
              <div class="header__menu-top">
                  <div class="header__menu-logo">
                      @include('logo.html')
                  </div>
                  <div class="header__menu-controls">
                      <button class="header__burger btn-reset" type="button" data-burger-open>
                          <img src="img/svg/burger.svg">
                      </button>
                      <button class="header__close btn-reset" type="button" data-burger-close>
                          <img src="img/svg/close.svg">
                      </button>
                  </div>
              </div>
              <div class="header__menu-content">
                  <div class="header__nav">
                      @include('nav.html')
                  </div>
                  <div class="header__btn-office">
                      <button class="btn btn--outline" type="button">
                          Личный кабинет
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
