<section class="hero">
    <div class="hero__inner">
        <div class="container">
            <div class="hero__content">
                <p class="hero__title">
                    Не&nbsp;упусти возможность войти в&nbsp;<span class="hero__bold">прибыльную нишу</span>
                </p>
                <p class="hero__desc">Получи все нужные навыки для заработка на&nbsp;NFT всего за&nbsp;28&nbsp;дней!</p>
                <div class="hero__btn-action">
                    <button class="btn btn--solid" type="button" data-modal-open>
                        Начать зарабатывать на&nbsp;NFT
                    </button>
                </div>
            </div>
        </div>
    </div>
    @include('modal.html')
</section>