<div class="modal is-not-active" data-modal>
    <div class="modal__content">
        <p class="modal__text-big">Начни прямо сейчас!</p>
        <p  class="modal__desc">Получи все нужные навыки для заработка на&nbsp;NFT всего за&nbsp;28&nbsp;дней!</p>
        <form class="modal__form" action="#" method="post">
            <input class="modal__input" type="email" placeholder="Ваш email" required>
            <div class="modal__submit">
                <button class="btn btn--solid" type="button">Оплатить</button>
            </div>
        </form>
        <button class="modal__close btn-reset" type="submit" data-modal-close>
            <img src="img/svg/close.svg">
        </button>
    </div>
</div>